<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = 'background-color: lightblue;'>
    <form action="/orderConfirmation" method="post">
        <h1 style = 'color: purple;'>Order</h1>
        <label>Name: <input type="text" name="name"/></label>
        <label>Email Address: <input type="email" name="email" ></label>
        <label>Recipe Number (ID): <input type="text" name="recipeID"/></label>

        <input type="submit" value="Submit Information">
    </form>

    <a href="/">HOME</a>
</body>
</html>


