<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = 'background-color: lightblue;'>
    <form action="/displayRecipe" method="post">
    <h2 style = 'color: purple;'>Enter your email to retrieve the recipe for your order.</h2>
            <strong> Email Address: <input type="text" name="email"></strong>
        <input type="reset">
        <input type="submit" value="Submit Request" > 
    </form>

    <a href="/">HOME</a>
</body>
</html>